modules = ["nodejs-20", "web", "bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
POSTGRES_USER = "postgres"
POSTGRES_PASSWORD = "password"
DB_HOST = "helium"
DB_PORT = "5432"
POSTGRES_DB = "heliumdb"
VITE_API_URL = "https://40435b3b-963a-44f1-8405-5ed0721384d0-00-3knyuczuovfz1.sisko.replit.dev/api"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd kasadra-backend-repo/learning_app && python main.py"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd kasadra-frontend-repo/kasadra_frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd kasadra-backend-repo/learning_app && python -m uvicorn main:app --host 0.0.0.0 --port 5000"]
build = ["bash", "-c", "cd kasadra-frontend-repo/kasadra_frontend && npm install && npm run build"]
